.highlight table td {
  padding: 5px; padding: 5px; }
.highlight table pre {
  padding: 5px; margin: 0; }
.highlight .cm {
  padding: 5px;
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .c1 {
  padding: 5px;
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  padding: 5px;
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
  padding: 5px;
  color: #999988;
  font-style: italic;
}
.highlight .err {
  padding: 5px;
  color: #d0d0d0;
}
.highlight .gd {
  padding: 5px;
  color: #0000cd;
  background-color: #D3D3D3;
}
.highlight .ge {
  padding: 5px;
  color: #0000cd;
  font-style: italic;
}
.highlight .gr {
  padding: 5px;
  color: #aa0000;
}
.highlight .gh {
  padding: 5px;
  color: #999999;
}
.highlight .gi {
  padding: 5px;
  color: #0000cd;
  background-color: #D3D3D3;
}
.highlight .go {
  padding: 5px;
  color: #888888;
}
.highlight .gp {
  padding: 5px;
  color: #e6246b;
}
.highlight .gs {
  padding: 5px;
  font-weight: bold;
}
.highlight .gu {
  padding: 5px;
  color: #aaaaaa;
}
.highlight .gt {
  padding: 5px;
  color: #aa0000;
}
.highlight .kc {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .kd {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .kn {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .kp {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .kr {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .kt {
  padding: 5px;
  color: #006400;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  padding: 5px;
  color: #e6246b;
  font-weight: bold;
}
.highlight .mf {
  padding: 5px;
  color: #009999;
}
.highlight .mh {
  padding: 5px;
  color: #009999;
}
.highlight .il {
  padding: 5px;
  color: #009999;
}
.highlight .mi {
  padding: 5px;
  color: #0000cd;
}
.highlight .mo {
  padding: 5px;
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  padding: 5px;
  color: #4b0082;
}
.highlight .sa {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .sb {
  padding: 5px;
  color: #9b870c;
}
.highlight .sc {
  padding: 5px;
  color: #9b870c;
}
.highlight .sd {
  padding: 5px;
  color: #9b870c;
}
.highlight .s2 {
  padding: 5px;
  color: #9b870c;
}
.highlight .se {
  padding: 5px;
  color: #9b870c;
}
.highlight .sh {
  padding: 5px;
  color: #9b870c;
}
.highlight .si {
  padding: 5px;
  color: #9b870c;
}
.highlight .sx {
  padding: 5px;
  color: #9b870c;
}
.highlight .sr {
  padding: 5px;
  color: #009926;
}
.highlight .s1 {
  padding: 5px;
  color: #9b870c;
}
.highlight .ss {
  padding: 5px;
  color: #990073;
}
.highlight .s, .highlight .dl {
  padding: 5px;
  color: #9b870c;
}
.highlight .na {
  padding: 5px;
  color: #006400;
}
.highlight .bp {
  padding: 5px;
  color: #4b0082;
}
.highlight .nb {
  padding: 5px;
  color: #0000cd;
}
.highlight .nc {
  padding: 5px;
  color: #006400;
  font-weight: bold;
}
.highlight .no {
  padding: 5px;
  color: #4b0082;
}
.highlight .nd {
  padding: 5px;
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  padding: 5px;
  color: #800080;
}
.highlight .ne {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .nf, .highlight .fm {
  padding: 5px;
  color: #006400;
  font-weight: bold;
}
.highlight .nl {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .nn {
  padding: 5px;
  color: #e6246b;
}
.highlight .nt {
  padding: 5px;
  color: #e6246b;
}
.highlight .vc {
  padding: 5px;
  color: #008080;
}
.highlight .vg {
  padding: 5px;
  color: #008080;
}
.highlight .vi {
  padding: 5px;
  color: #008080;
}
.highlight .nv, .highlight .vm {
  padding: 5px;
  color: #008080;
}
.highlight .ow {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .o {
  padding: 5px;
  color: #0000cd;
  font-weight: bold;
}
.highlight .w {
  padding: 5px;
  color: #006400;
  font-style: italic;
}
.highlight .py {
  padding: 5px;
  color: #0000cd;
}
.highlight {
  padding: 5px;
  background-color: #D3D3D3;
}
